body {
    margin: 0;
    background-color: rgb(255, 12, 12);
    

}

.contenedor-main {
    display: grid;
    gap: 30px;
    background-color: rgb(188, 214, 217);

}

.contenedor {
    position: relative;
}


.box1>div {
    position: relative;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    background-color: rgb(21, 170, 233);
    display: inline-block;
    z-index: 2;

}

.box2>div {
    position: relative;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    background-color: rgb(88, 215, 219);
    display: inline-block;
    z-index: 1;

}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.mostrar {
    opacity: 1;
    transform: translateY(0);
}

.contenedor2 {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows:  1fr;
    gap: 20px;
    background-color: rgb(112, 112, 112);
    padding: 0 3% 0 3%;
    height: 400px;
    

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

}

/* .box3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(209, 241, 1);
    min-height: 200px;

} */
.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 241, 1);
    gap: 15px;


}


.box4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    background-color: rgb(0, 17, 255);



}

.box5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(252, 5, 5);


}


.box3 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgb(21, 170, 233);
    width: 100px;
    height: 200px;


}




.card7 img,
.card8 img,
.card9 img {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.card7 h2 {
    text-align: center;

}


.box4>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(21, 170, 233);
}

.box5>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(21, 170, 233);
}

.contenedor3 {
    display: flex;
    gap: 20px;
}

.box6 {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 20px;
}

.box7 {
    width: 30%;
}

.box6>div {
    width: 30%;
    border-radius: 15px;
    background-color: rgb(21, 170, 233);
}

.box7>div {
    border-radius: 15px;
    background-color: rgb(21, 170, 233);
}